<div class="container">
  <h1>Task Four: 3 components. Start-stop</h1>
  <div class="row controlls"> 
      <app-game-control 
        class="col"
        (countObject)="receivedCountObject($event)"></app-game-control>
  </div>  
  <div class="row lists">
    <div class="col-md-6">
      <h2>Odd list:</h2>
      <app-odd *ngFor="let numberReceived of numbersReceived" [oddNumber]='numberReceived'></app-odd>
    </div>
    <div class="col-md-6">
      <h2>Even list:</h2>
      <app-even *ngFor="let numberReceived of numbersReceived" [evenNumber]='numberReceived'></app-even>
    </div>
  </div>
</div>